@import "../../style/variables.scss";

.tracking-code {
    background-color: $white;
    border-radius: 8px;
    padding: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;

    &__receiving {
        border-bottom: 1px solid #DFDFDF;
        padding-bottom: 13px;
        gap: 3%;

        & a {
            font-size: 24px;
            font-weight: 700;
            color: $dark;
        }
    }

    &__additional-info {
        & p {
            font-size: 12px;
            line-height: 15px;
            color: #414240;
        }
    }
}